/*
  @author emchateau
  @since 2020-06
  @version 1.0
*/
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* --colorMain: #fdfdfe; */
  /* --colorSub: #3f51b5; */ /* #E73E0D */
  /*--colorAccent: #3f51b5; */ /* #E73E0D */
  --baseline: 1.5; /* 1.5 * 18 = 27px*/
  font-size: 1.125em; /* 18px */
  line-height: var(--baseline);
}

body {
  /* background-color: var(--colorSub); */
  /* color: var(--colorMain); */
  background: #fffef5;
}

/*
 * Typography
 */
/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace;
*/

body {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: normal;
}

/* sticky footer */
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  width: 100%;
  margin: auto;
}
footer {
  flex-shrink: 0;
}

main {
  max-width: 47rem;
  margin: auto;
  margin-bottom: calc( var(--baseline) * 3rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

/* typographic scale https://drewish.com/tools/vertical-rhythm/ */
h1, h1.post-title {
  font-size: 2.2222em; /* 40px */
  line-height: 1.3500; /* 54px */
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

h2 {
  font-size: 1.7222em; /* 31px */
  line-height: 1.7419em; /* 54px */
  margin-top: auto;
  margin-bottom: calc( var(--baseline) * 1rem);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

/* h2::before {
  content: '';
  display: block;
  // height: 100%;
  width: 100%;
  border-bottom: calc( var(--baseline) * 0.2rem) solid ;
  margin-bottom: calc( var(--baseline) * 0.8rem);
} */

h3 {
  font-size: 1.334em; /* 18 * 1.334em = 24px */
  line-height: 1.125; /* 24 * 1.125 = 27px*/
  margin-bottom: calc( var(--baseline) * 1rem);
}

h3::before {
  content: '';
  display: block;
  // height: 100%;
  width: 15%;
  border-bottom: calc( var(--baseline) * 0.1rem) solid ;
  margin-bottom: calc( var(--baseline) * 0.9rem);
}

h4 {
  font-size: 1.2222em; /* 22px */
  line-height: 1.2273; /* 27px */
  margin: auto;
}

h5 {
  font-size: 1.1111em; /* 20px */
  line-height: 1.350; /* 27px */
  margin: auto;
}

h6 {
  font-size: 1em;
  margin: auto;
}

p {
  margin-top: auto;
  margin-bottom: calc(var(--baseline) * 1rem);
}

.pageNum::before {
  content: "[p. "
}

.pageNum::after {
  content: "]"
}

.nota, .note {
  font-size: smaller;
}

.note::before {
  content: ' ['
}

.note::after {
  content: '] '
}

.nota > h6 {
  font-weight: bold;
}

sup {
  vertical-align: middle;
  font-size: smaller;
}

.pageNum {
  font-weight: lighter;
  font-size: smaller;
  color: #2a7ae2;
}

.smallCap {
  font-variant: small-caps;
}

.capital {
  text-transform: uppercase;
}

/* site title + menus */
.site-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}

.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position:relative
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float:left
}

.site-title, .site-title:visited {
    color:#424242
}

.site-nav {
    float: right;
    line-height:54px
}

.site-nav .nav-trigger {
    display:none
}

.site-nav .menu-icon {
    display:none
}

.site-nav .page-link {
    color: #111;
    line-height:1.5
}

.site-nav .page-link:not(:last-child) {
    margin-right:20px
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor:pointer
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align:center
    }

    .site-nav .menu-icon > svg {
        fill:#424242
    }

    .site-nav input ~ .trigger {
        clear: both;
        display:none
    }

    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom:5px
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left:20px
    }

    .site-nav .page-link:not(:last-child) {
        margin-right:0
    }
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding:30px 0
}

.footer-heading {
    font-size: 18px;
    margin-bottom:15px
}

.contact-list, .social-media-list {
    list-style: none;
    margin-left:0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left:-15px
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left:15px
}

.footer-col-1 {
    width: -webkit-calc(35% -(30px / 2));
    width:calc(35% -(30px / 2))
}

.footer-col-2 {
    width: -webkit-calc(20% -(30px / 2));
    width:calc(20% -(30px / 2))
}

.footer-col-3 {
    width: -webkit-calc(45% -(30px / 2));
    width:calc(45% -(30px / 2))
}

@media screen and (max-width: 800px) {
    .footer-col-1, .footer-col-2 {
        width: -webkit-calc(50% -(30px / 2));
        width:calc(50% -(30px / 2))
    }

    .footer-col-3 {
        width: -webkit-calc(100% -(30px / 2));
        width:calc(100% -(30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% -(30px / 2));
        width:calc(100% -(30px / 2))
    }
}
